*{
    margin: 0;
    padding: 0;
    border: 0;
}
img{
    vertical-align: top;
}
#outBox{
    position: relative;

}
.box{
    padding: 15px 0 0 15px;
    float: left;
}
.pic{
    padding: 10px;
    border: 1px solid #ccc;
    width: 240px;
}
.pic img {
    width: 100%;
}